<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
            background-color: #f4f4f4;
        }
        h1 {
            color: #333;
        }
        .form-container {
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
        input[type="text"] {
            width: calc(100% - 50%);
            padding: 10px;
            margin-right: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            padding: 10px 15px;
            border: none;
            background-color: #28a745;
            color: white;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #218838;
        }
    </style>
</head>
<body>
    <h1>URL Shortener</h1>


    <h3> <% if (locals.role) { %>
    <p>Wlecome  <%= role %></p>
<% } %></h3>

<% if (locals.id) { %>
    <p>UrL Generated: http://localhost:8000/url/<%= id %></p>
<% } %>

    <div class="form-container">
        <form method="post" action="/url">
            <label for="i">Enter the long URL:</label>
            <input type="text"  name="url" required placeholder="https://example.com/your-long-url">
            <button type="submit">Shorten URL</button>
        </form>
        <div id="result" style="margin-top: 20px;"></div>
    </div>

<% if (locals.urls) { %>
   <table>
    <thead>
        <th>S-no</th>
        <th>ShortId</th>
        <th>Redirects</th>
        <th>Clicks</th>
    </thead>
    <tbody>
 <% urls.forEach((url,index )=> { %>         
<tr>
<td><%= index+1 %></td>
<td><%=url.shortId  %></td>
<td><%=url.redirectUrl  %></td>
<td><%= url.visitHistory.length %></td>  
</tr>
 <% }) %>
</tbody>

</thead>

</table>
<% } %>


    

    

</body>
</html>